<h2>Edit your profile</h2>
<form action="/users" method="POST">
  <div class="form-group">
    <label for="university">university:</label>
    <input type="text" class="form-control" name="university" id="university" value="{{ university }}">
  </div>
  <div class="form-group">
    <label for="name">email:</label>
    <input type="text" class="form-control" name="email" id="email" value="{{ email }}">
  </div>
  <div class="form-group">
    <label for="name">location:</label>
    <input type="text" class="form-control" name="location" id="location" value="{{ location }}">
  </div>
  <div class="form-group">
    <label for="name">Facebook:</label>
    <input type="text" class="form-control" name="facebook" id="facebook" value="{{ facebook }}">
  </div>
  <button class="btn btn-primary">Update</button>
</form>

 <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="avatar" multiple value="{{ transcripts }}"/>
        <button>Submit</button>
      </form>

<p><a href="/users/{{username}}">View your profile</a></p>